<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>

<body class="flex justify-center items-center min-h-screen m-0 bg-white from-[#141e30] to-[#243b55] font-sans overflow-hidden">
    <div class="flex w-[800px] h-[500px] shadow-2xl rounded-lg overflow-hidden">
        <div class="w-1/2 bg-white p-12 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-gray-800 mb-4 welcome">
                <span>S</span><span>I</span><span>G</span><span>N</span> <span>I</span><span>N</span>
            </h2>
            <form action="/login" method="post">
                <input type="Number" name="HospitalId" placeholder="HospitalId"
                    class="bg-gray-200 border-none p-3 mb-3 w-full rounded-full box-border focus:outline-none focus:shadow-md">
                <input type="email" name="Email" placeholder="Email"
                    class="bg-gray-200 border-none p-3 mb-3 w-full rounded-full box-border focus:outline-none focus:shadow-md">
                <input type="password" name="Password" placeholder="Password"
                    class="bg-gray-200 border-none p-3 mb-3 w-full rounded-full box-border focus:outline-none focus:shadow-md">

                <button type="submit"
                    class="bg-[#ff416c] text-white border-none px-5 py-2 rounded-full cursor-pointer transition duration-300 ease-in-out font-bold mt-2 hover:bg-[#ff4b2b]">SIGN
                    IN</button>
            </form>
        </div>
        <div class="w-1/2 bg-gradient-to-br from-[#ff416c] to-[#ff4b2b] text-white p-12 flex flex-col justify-center items-center text-center">
            <h2 class="text-2xl font-bold mb-4">Hello, Friend!</h2>
            <p class="mb-5">Enter your personal details and start your journey with us</p>
            <a href="/register">
                <button
                    class="bg-white text-[#ff416c] border-none px-5 py-2 rounded-full cursor-pointer transition duration-300 ease-in-out font-bold mt-2 hover:bg-[#ffebe6]">SIGN
                    UP</button>
            </a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script>
        gsap.from(".welcome span", {
            y: 0,
            opacity: 0,
            stagger: 0.1,
            duration: 0.8,
            ease: "power2.out"
        });
    </script>
</body>

</html>
