<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login_style.css">
    <title>Login Page</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <!-- <img src="logo.png" alt="Logo"> -->
            
        </div>
        <div class="nav-buttons">
            <a href="/login" class="btn login-btn">Login</a>
            <a href="/signup" class="btn signup-btn">Sign Up</a>
        </div>
    </nav>
    
    
    
    <div class="login">
        <span>L</span><span>O</span><span>G</span><span>I</span><span>N</span>
    </div>

    <div class="input">
        <input type="text" name="HospitalName" id="" placeholder="Enter hospital name here">
    </div>

    <div class="input">
        <input type="email" name="" id="" placeholder="Enter email here">
    </div>
    
    <div class="input">
        <input type="password" name="" id="" placeholder="Enter password here">
    </div>

    <div id="submit">
        <a href="/profile">
            <button type="submit">submit</button>
        </a>
    </div>
    

</body>
</html>