<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="show.css">
    <title>Medicine</title>
</head>
<body>


















    <!-- card -->
    <!-- <div class="card">
        <h1>Name of medicine</h1>
        <h3>254dcjdn</h3>
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem maxime architecto a dicta officia rem quod hic suscipit quo.
        </div>
        <div>
            <span>32</span>
            <span>Rs. 100</span>
        </div>
        <div class="btn">
            <button>Edit</button>
            <button>Delete</button>
        </div> -->



    </div>
</body>
</html>